@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 2px;
  width: 2px;
  background: #111b21;
}

body {
  /* min-height:90vh; */
  overflow-y: hidden;
}

::-webkit-scrollbar-thumb {
  height: 2px;
  width: 1px;
  background: gray;
  border-radius: 30px;
}

.images::-webkit-scrollbar {
  height: 7px;
  width: 30px;
  background: white;
  border-radius: 30px;
}

.images::-webkit-scrollbar-thumb {
  height: 20px;
  width: 30px;
  background: black;
  border-radius: 30px;
}

::placeholder {
  font-size: 0.8rem;
  text-transform: capitalize;
}

.small-img {
  object-fit: contain;
  aspect-ratio: 3/2;
}

.react-tel-input input {
  width: 100% !important;
}

.react-tel-input input:focus {
  border: 1px solid orange;
}

.messages {
  /* background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url('./assets/background.jpg'); */
}

.welcome {
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3JtNjg1ZGVzaWduLXRuLXJlbWl4LTAwMmIuanBn.jpg") !important;
  background-position: left center;
}

.test .otp {
  justify-content: center;
}

.test input {
  border: 1px solid orange;
  padding: 0.5rem 1rem;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}

.toggle-settings {
  transform: translateX(0%);
}

.anim {
  background-color: green;
  /* padding: 0.4rem; */
  border-radius: 50%;
  position: relative;
}

.anim::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgb(0, 128, 0, 0.9);
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 0.7s infinite linear alternate;
  border-radius: 50%;
}

.anim::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgb(0, 128, 0, 0.7);
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 0.9s infinite linear alternate;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(1.5);
  }
}