@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
  height: 2px;
  width: 3px;
  background: #111B21;
}

::-webkit-scrollbar-thumb{
  
  height: 2px;
  width: 3px;
  background: #111B21;
}

::placeholder{
  font-size:0.8rem;
  text-transform: capitalize;
}

.small-img{
  object-fit: contain;
  aspect-ratio: 3/2;
}

.react-tel-input input{
width: 100% !important;
}
.react-tel-input input:focus{
  border: 1px solid orange;
}


.messages{
  background-image:url('./assets/background.jpg');
}

.welcome{
  background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3JtNjg1ZGVzaWduLXRuLXJlbWl4LTAwMmIuanBn.jpg') !important;
  background-position: left center;

}


.test .otp{
  justify-content: center;
}


.test input{
    border: 1px solid orange;
    padding: 0.5rem 1rem ;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
  }

  .toggle-settings{
    transform:translateX(0%)
  }